* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  }

  header{
    background-color: rgb(160, 121, 137);
    height: 40px;
    width: 100%;
  }
  nav{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    background-color: #ffffff;
  }

  nav .logo p{
    float: left;
    color: blueviolet;
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
  }

  nav ul{
    display: flex;
    list-style: none;
  }
  
  nav ul li a{
    text-decoration: none;
    margin: 20px;
    font-size: 15;
    position: relative;
    text-transform: uppercase;
    }

  .About img{
      float: right;
      height: 100vh;
    }

  .About{
    width: 100%;
    height: 100vh;
    background-color: black;
    padding-left: 10px;
    color: white;
  }
  .About p{
    font-size: 30px;
    color: white;
    text-align: left;
  }

  .about{
    font-size: 50px;
    font-weight: bold;
    margin: 10px 40px;
    
  }

  .text-box{
    padding-top: 100px;
    margin-left: 30px;
  }
  
  .text-box p{
    margin: 10px 40px;
    
  }

  .test-box {
  border: 2px solid rgb(0, 204, 255);
    padding: 6px;
    margin: 20px;
  }

  .Background{
    width: 100%;
    background-color: white;
    font-size: large;
    text-align: center;
    border: 1px solid grey;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
  }

  .Background img{
    float: left;
  }

 .Background li {
   list-style: none;
   font-weight: 700;
 }

  .attributes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
  }
  .services {
    border: 1px solid white;
    height: 350px;
    width: 30%;
    line-height: 50px;
    text-align: center;
  }
  .services :hover {
    background-color: green;
  }
  .skills {
    border: 1px solid white;
    height: 350px;
    width: 30%;
    line-height: 50px;
    text-align: center;
  }
  .skills li {
    list-style: none;
  }
  .services li {
    list-style: none;
  }
  .skills :hover{
    background-color: green;
  }
  
  .section3 {
    background-color: black;
    color: white;
    height: 500px;
  }
  .section3 h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  .interests{
    text-align: center;
    font-size: larger;
    height: 400px;
    margin-top: 150px;
  }
  .interests h2 {
    margin-bottom: 50px;
  }
  .interests li{
    list-style: none;
  }
  .Projects{
    background-color: black;
    color: white;
    display:grid;
  }
  .Projects h2{
    text-align: center;
  }
  .work{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
  }
  .lana{
    border: 1px solid black;
    height: 400px;
    width: 30%;
    line-height: 40px;
    text-align: left;  
  }
  .Contact{
    text-align: center;
    height: 400px;
    margin-top: 170px;
  }
  .contlinks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  

