h1 {
    color: rgb(119, 0, 255);
    text-align: left;
  }
  h2 {
    color: black;
    font-style: normal;
    text-align: left;
  }
  p {
    font-family: sans-serif;
  }
  ul {
    line-height: 40px;
  }

