h1 {
    color:black;
    text-align: left;
  }
  h2 {
    color: black;
    font-style: normal;
    text-align: left;
  }
  p {
    font-family: sans-serif;
  }
  ul {
    line-height: 40px;
  }

.test-box {
  border: 2px solid red;
    padding: 6px;
    margin: 20px;
    background-color: aquamarine;
}
